[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
name = "nhds"
url = "https://${USER_ENCODED}:${PASS_ENCODED}@pypi.neighborhoods.com/simple"
verify_ssl = true

[dev-packages]
flake8 = "==3.7.9"
pytest = "==5.3.5"
pytest-mock = "==2.0.0"
twine = "==3.2.0"
wheel = "==0.34.2"

[packages]
pandas = "==1.0.1"
pyhive = {extras = ["hive", "presto"], version = "==0.6.1"}
river = {version="==1.1.1", index="nhds"}
simple-salesforce = ">=1.1.0"

[requires]
python_version = "3.7"
